<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pnoni.batch.hello.job.Employee">
    <select id="selectEmployees" resultType="Employee">
        select *
          from employee
         where gender = #{gender}
           and shirt_size = #{shirtSize}
        order by lastname, firstname
    </select>
</mapper>